{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.gql",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
