{
  "sequelize":{
    "development": {
      "username": "root",
      "password": "password",
      "database": "karma",
      "host": "127.0.0.1",
      "dialect": "mysql",
      "operatorsAliases": "Sequelize.Op"
    },
    "test": {
      "username": "root",
      "password": "password",
      "database": "karmatest",
      "host": "127.0.0.1",
      "dialect": "mysql",
      "operatorsAliases": "Sequelize.Op"
    },
    "production": {
      "username": "root",
      "password": "password",
      "database": "karma",
      "host": "127.0.0.1",
      "dialect": "mysql",
      "operatorsAliases": "Sequelize.Op"
    }
  }
}
